<mat-card appearance="outlined">
    <br>
    <!-- This is  Interpolation -->
    <mat-card-title>{{mesageFromHome | uppercase}}</mat-card-title>
    <span>{{currentDate | date: 'dd/MM/YYYY'}}</span>
    <span>{{jsonObj | json}}</span>
    <br>
    <!-- This is  Property binding -->
    <mat-card-content><img [src] = "imageUrl" height="20%" width="40%"></mat-card-content>
    <div class="example-button-row">
    <mat-divider></mat-divider>
       <!-- This is also Property binding. [disabled] is the property and isDisabled is the value from ts -->
    <input type="checkbox" [disabled]="isDisabled"> 
    <br>

    <br>This is event binding. Change in view updates the component also
    <input type = "text" (keyup)="updateTitle($event)">
    <br><br>
    <button mat-raised-button (click)="onButtonClick()">Basic</button>

    <br>
    <br> This is 2 way binding. Change in view updates the component and change in component updates the view-
    <input type = "text" [(ngModel)]="mesageFromHome">
    </div>

    <br>
    <!-- given class is applied only when enableAttributeDirectives is true and when active is applied  -->
    <div [ngClass]="{'active':enableAttributeDirectives }"><h2>Attribute Directive. Ng Class</h2></div>
    <div [ngStyle]="{'color': _color, 'font-size': _font}"><h2>Attribute Directive. Ng Class</h2></div>

    <div *ngIf="enableAttributeDirectives"><h3>Structural Directive, Ng If</h3></div>

    <div *ngFor="let item of listOfJsonObjs">{{item.value | json}}</div>

    <div>
    <input type = "text"  [(ngModel)]="inputDay">
    <div [ngSwitch]="inputDay">
        <div *ngSwitchCase="'Monday'">Start of the week!</div>
        <div *ngSwitchCase="'Saturday'">Weekend!</div>
        <div *ngSwitchCase="'Sunday'">Weekend!</div>
        <div *ngSwitchDefault>Regular weekday</div>
    </div>
    </div>

    <app-child1 [dataFromParent]="parentData"  (dataFromChild)="receiveData($event)"></app-child1>
    <p>Hi : {{dataFromChild}}</p>
    <input type="text" placeholder="fruit" #fruit/>
    <button (click)="AddFruit(fruit.value)">Add</button>


</mat-card>
