<mat-toolbar color="primary" *ngIf="showmenu">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="example-spacer"></span>
    <button mat-button routerLink=""></button>
    <button mat-button routerLink="children/child1">About</button>
    <button mat-button routerLink="children/child2">Contact</button>
    <button mat-button routerLink="home">Home</button>
    <button mat-button routerLink="product">Product</button>
    <button mat-button routerLink="lifecycle">LifeCycle</button>
    <button mat-button routerLink="signal">Signal</button>
    <button mat-button routerLink="rxjs">RxJs</button>






    
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>